$background: #252A38;
$darkBackground: #151820;
$defaultForeground: #DCDCDC;
$primarycolor: #2985ff;
$transparentOverlay: #252A388F;

$regularFontWeight: 400;
$boldFontWeight: 600;
$lighterFontWeight:300;

$mobileTabletTitleFontSize: 24px;
$mobileTabletSubTitleFontSize: 20px;
$mobileButtonFontSize: 20px;
$mobileBodyFontSize: 14px;
$mobileSecondaryFontSize: 10px;

$desktopTitleFontSize: 32px;
$desktopSubTitleFontSize: 24px;
$desktopButtonFontSize: 24px;
$desktopBodyFontSize: 16px;
$desktopSecondaryFontSize: 12px;

$mobileTabletTitleLineHeight: 32px;
$mobileTabletSubTitleLineHeight: 24px;
$mobileButtonLineHeight: 32px;
$mobileBodyLineHeight: 20px;
$mobileSecondaryLineHeight: 16px;

$desktopTitleLineHeight: 40px;
$desktopSubTitleLineHeight: 32px;
$desktopButtonLineHeight: 40px;
$desktopBodyLineHeight: 24px;
$desktopSecondaryLineHeight: 20px;



